/* Write your CSS code here */
body {
    background-color: black;
}
div {
    text-align: center;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    width: 100%;
    height: 100%;
    font-family: 'Libre Baskerville', serif;
    color: white;
}
img {
    border: 5px solid gold;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
h1 {
    text-transform: uppercase;
}