<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}
  <body>
    <!-- Navigation -->
    {% include "page_navigation.html" %}

    <!-- Page Header-->
    <header
    class="masthead"
    style="background-image: url('../static/assets/img/home-bg.jpg')"
    >
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1>Jim Li's Project</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
    </header>
    <!-- Sidebar -->
    <div class=".sticky">
    <main class="d-flex flex-nowrap">
      <h1 class="visually-hidden">Sidebars examples</h1>
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              "Home"
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="##speedometer2"></use>
              </svg>
              "Dashboard"
            </a>
          </li>
        </ul>
      </div>
    </main>
  </div>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->
          {% for post in all_posts %}
          <div class="post-preview">
            <a href="{{ url_for('show_post', post_id=post.id) }}" target="_blank">
              <div class="clearfix">
                <h3 class="post-title">{{ post.name }}</h3>
                <!-- <img src="{{ post.img_url }}" class="col-md-5 float-md-start mb-3 ms-md-3" alt="..." > -->
                <!-- <img src="../static/assets/img/Day12/guess_the_number.PNG" class="col-md-5 float-md-start mb-3 ms-md-3" alt="..." > -->
              </div>
              <div class="clearfix">
                <p class="post-subtitle">
                  <h5>Tags:
                    {% if post.terminal %}
                    <span class="badge text-bg-secondary rounded-pill">Terminal</span>
                    {% endif %}
                    {% if post.object %}
                    <span class="badge text-bg-primary rounded-pill">Object</span>
                    {% endif %}
                    {% if post.turtle_screen %}
                    <span class="badge text-bg-success rounded-pill">Turtle (screen)</span>
                    {% endif %}
                    {% if post.file_handling %}
                    <span class="badge text-bg-secondary rounded-pill">File Handling</span>
                    {% endif %}
                    {% if post.gui_tkinter %}
                    <span class="badge text-bg-danger rounded-pill">GUI (tkinter)</span>
                    {% endif %}
                    {% if post.web_scraping %}
                    <span class="badge text-bg-info rounded-pill">Web-Scraping</span>
                    {% endif %}
                    {% if post.website_route %}
                    <span class="badge text-bg-warning rounded-pill">Website (route)</span>
                    {% endif %}
                    {% if post.automation %}
                    <span class="badge text-bg-secondary rounded-pill">Automation</span>
                    {% endif %}
                    {% if post.database %}
                    <span class="badge text-bg-light rounded-pill">Database</span>
                    {% endif %}
                  </h5>
                  <h5>Languages:
                    {% if post.python %}
                    <span class="badge text-bg-warning rounded-pill">python</span>
                    {% endif %}
                    {% if post.html %}
                    <span class="badge text-bg-danger rounded-pill">html</span>
                    {% endif %}
                    {% if post.css %}
                    <span class="badge text-bg-primary rounded-pill">css</span>
                    {% endif %}
                    {% if post.sqlite %}
                    <span class="badge text-bg-secondary rounded-pill">sqlite</span>
                    {% endif %}
                  </h5>
                </p>
              </div>
            </a>
            <!-- Add code to delete posts below -->
            <p class="post-meta float-md-end" >
              <a href="{{ url_for('delete_post', post_id=post.id) }}">✘ delete</a>
            </p>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          {% endfor %}

          <!-- New Post -->
          <div class="d-flex justify-content-end mb-4">
          <!-- Adding new posts -->
            <a
              class="btn btn-primary float-right"
              href="{{ url_for('add_new_post') }}"
              >Add New Cafe</a
            >
          </div>

          <!-- Pager-->
          <!-- <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Footer-->
    {% include "footer.html" %}
  </body>
</html>
